
# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# Envs
.env
venv/
.venv/

# Local DB & instance files
*.db
instance/

# OS/editor junk
.DS_Store
Thumbs.db
.vscode
.idea/
*.swp
*.bak

# Build/ Distribution
dist/
build/
*.egg-info/

# Custom (Local Configs/Secrets)
config_local.py
secrets.json
.env.local



ibanda25
Moses@2024!